{{> head }}
{{> navbar }}

  <div class="row">
    <div class="col-8">
      <h1>About</h1>
      <p>Just adding some text to see a change!</p>
    </div>

    <div class="col-4">
      <img class="about-img" src="assets/img/akatsuki.jpg" alt="img-thumbnail">
    </div>
  </div>

{{> footer }}